{% extends 'base_generic.html' %}

{% block content %}

<section>
  <div class="home container col-12">
      <div class=" border border-primary home-contenido container bg-color1">
          <div class="row py-3 align-self-center justify-content-center" style="min-height: 100%;">
              <div class="align-self-start text-center col-12 pt-3 pb-3">
                  <h1 class="color">¿Olvidaste tu contraseña?</h1>
                  <h4>Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</h4>
              </div>
                <form class="" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}       
  
                    <div class="col-12 align-self-end py-5 text-center">
                        <button class=" rounded-pill col-6 btn btn-outline-primary" type="submit" data-toggle="modal" data-target=".bd-example-modal-sm">Enviar</button>
                    </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
{% block carrusel %} 
{% endblock %}
{% block cajaComentarios %} 
{% endblock %}
{% block noticias %}
{% endblock %}   
{% block analisisdejuegos %} 
{% endblock %}
{% block footer %}
{% endblock %}