
{% extends 'base_generic.html' %}

{% block content %}

<section>
  <div class="home container col-12">
      <div class=" border border-primary home-contenido container bg-color1">
          <div class="row py-3 align-self-center justify-content-center" style="min-height: 100%;">
              <div class="align-self-start text-center col-12 pt-3 pb-3">
                  <h1 class="color">
                    Reinicie su contraseña</h1>
                    <h3 class="pt-5">Se ha establecido su nueva contraseña. Puede iniciar sesión ahora en la página de inicio de sesión.</h3>
              </div>
                <form class="pt-5" action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                  </form>
                      <div class="col-6  align-self-end py-5 text-center">
                        <a href="{% url 'index' %}" class="rounded-pill btn btn-outline-success col" role="button">  Game Bros   </a>
                      </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}
{% block carrusel %} 
{% endblock %}
{% block cajaComentarios %} 
{% endblock %}
{% block noticias %}
{% endblock %}   
{% block analisisdejuegos %} 
{% endblock %}
{% block footer %}
{% endblock %}
