{% extends "base_generic.html" %}
{% block content %}


  <section>
    <div class="home container col-12">
      <div class=" border border-primary home-contenido container bg-color1">
        <div class="row py-3 justify-content-center" style="height: 100%;">
          
          <div class="align-self-start text-center col-12 pt-5">
            <h1 class="color">Crear Cuenta</h1>
          </div>
          <div class="crear col-6 text-center">
          <form action="" method="post">
              
              {% csrf_token %}
              <h5 class="color2 p-1">Nombre de usuario:</h5>
              {{ form.username}}
              <h5 class="color2 p-1">Contraseña:</h5>
              {{ form.password1}}
              <h5 class="color2 p-1">Contraseña (confirmación):</h5>
              {{ form.password2}}
              
              <div class="col-12 p-4 align-self-end text-center">
                <button class=" rounded-pill col-6 btn btn-outline-primary" type="submit">Crear</button>
              </div>
              
            </form>
          </div>


        </div>
      </div>
    </div>
  </section>  

{% endblock %}
{% block carrusel %} 
{% endblock %}
{% block cajaComentarios %} 
{% endblock %}
{% block noticias %}
{% endblock %}   
{% block analisisdejuegos %} 
{% endblock %}
{% block footer %} 
{% endblock %}
